.DS_Store
.turbo
.next
dist
coverage
node_modules
*.tsbuildinfo
.env
.env.local
.env.*.local
apps/api/dist
packages/database/generated
packages/*/src/*.js
packages/*/src/*.js.map
projeto_design_dashboard
